#NavBar {
  /* background-color: aqua; */
  display: grid;
  grid-template-columns: 1fr 1fr; /* fractional*/
  height: 7vw;
  /* margin-bottom: 1vw; */
}

#Logo {
  /* background-color: aqua; */
  margin: 2vw;
}

#logout {
  border: none;
  background-color: #eb6560;
  color: white;
  width: 7vw;
  border-radius: 5px;
  height: 1.3vw;
  margin-right: 1vw;
  margin-top: 4vw;
}

#logout:hover {
  background-color: #b9504c;
}

#right {
  align-items: center;
  margin-left: auto;
  margin-right: 0;
}
