#HomePage {
  background-color: red;
  display: grid;
  grid-template-columns: 3fr 2fr; /* fraction*/
}

#HomeLeft {
  background-color: purple;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* fraction*/
}
