.event_card {
  background-color: #dee9f6;
  /* border-color: #f5bcba; */
  border: none;
  /* border-radius: 15px; */
  width: 15vw;
  height: 20vw;
  color: var(--color7);
  /* border: 2px solid; */
  padding: 1vw;
  margin: 4vw;
  text-align: center;
}

.event_image {
  width: 14vw;
  /* border-radius: 20px; */
}

button {
  border: none;
  background-color: #eb6560;
  color: white;
  width: 7vw;
  border-radius: 5px;
}
button:hover {
  background-color: #b9504c;
}

.event_title {
  margin-bottom: 1vw;
  font-size: larger;
}
